---
---
<nav class="navbar" aria-label="main-navigation">
  <hr />
  <div class="navbar-menu">
    <div class="navbar-header title-header"><a href="/">Simon Coulter Blog</a></div>
    <div class="horz-container">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/favourites">Favourites</a>
      <a class="navbar-item" href="/projects">Projects</a>
    </div>
  </div>
  <hr />
</nav>
